<%- include('./partials/head') %>

<h1 class="">Viktor Eftimov</h1>
<img src="/viktor.jpeg" width="200" height="250">


<H2>vakantie bestemming</H2>
<p>Macedonie</p>
<H2>Hobbies</H2>
<p>voetbal</p>
<p>gamen</p>
<p>uitgaan</p>
<h2>familie</h2>
<p>3 zusje</p>
<p>vader Macedonie/ moeder Nederlands</p>
<p>Lucky chiwawa</p>
<H2>mezelf</H2>
<p>1.86m</p>
<p>18 jaar oud</p>
<p>Woon in Amstelveen</p>
<p>Havo diploma net gehaald</p>
<tekst-align: center;>



<%- include('./partials/foot') %>
