@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
:root{
  --primaireborder: 3px solid #9932cc;
  --seccolor: #9932cc;
  --thirdcolor: #Ffd700;
  --fontpsize: 20px;
}

*{
  font-family: sans-serif;
}

/* .artikel{
  display: flex;
  flex-direction: row;
} */

body {
  margin: 0;
  box-sizing: border-box;
  display: flex;
  place-items: center center;
  justify-content: center;
  flex-direction: column;
  background-color: #2b2b2b;
  color: black;
}

section{
  border: var(--primaireborder);
  width: 450px;
  height: 650px;
  display: flex;
  place-items: center center;
  flex-direction: column;
  border-radius: 2em;
  /* background-color: #1A01C0; */
  margin-inline: auto;
  margin-block: 2em;
  padding: 1.2em;
  margin: 50px;
}

/* BEGIN 4 SECTION */

.first-slide{
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(0deg, #1A01C0, #9932cc);
  z-index: 4;
}

.specialhobby{
  background-image: linear-gradient(to right, #9932cc, rgb(141, 34, 141), #1A01C0);
  z-index: 3;
}

.personal{
  background-image: linear-gradient(180deg, #1A01C0, #9932cc);
  z-index: 2;
}

.skills{
  background-image: radial-gradient( #9932cc 20%, #1A01C0 75%, rgb(141, 34, 141));
  z-index: 1;
}

/* OM PROBLEEM TE LATEN ZIEN!!!! */
/* .specialehobbies, .persoonlijk, .skills, .first-slide{
  position: absolute;
} */
/* OM PROBLEEM TE LATEN ZIEN!!!! */

/* END 4 SECTION */

.hobbyswitch{
  background-image: linear-gradient(to right, #9932cc, rgb(141, 34, 141), #1A01C0);
  z-index: 5;
}

h1{
  font-size: 2em;
  top: 0px;
  margin-bottom: 0px;
}

p, ul, dl{
  font-size: var(--fontpsize);
}

.cuteimg{
  border-radius: 2em;
  border: 3px solid var(--thirdcolor);
}

.first-slide{
  p{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: var(--fontpsize);
  }
}

.hobby-button, .personal-button, .skills-button{
  border: 3px solid #Ffd700;
  border-radius: 5em;
  background-color: var(--seccolor);
  color: var(--thirdcolor);
  font-size: 20px;
  cursor: pointer;
  margin: 5px;
}

.buttonselector{
  margin: 10px;
}

.back-button{
  position: relative;
  left: -200px;
  top: 540px;
  background: none;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
  float: left;
}

.back-button:hover{
  background-color: rgb(126, 124, 124);
}

.back-button:active{
  background-color: rgb(169, 168, 168);
  box-shadow: #a4a3a3;

}

@media (max-width: 520px) {
  section{
    width: 520px;
    font-size: 15px;
  }
  p{
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    justify-content: center;
  }
}
