@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100vh;
}

body {
  font-family: open sans;
  color: #f9fafd;
  background-image: url(/R.jfif);
  background-size: cover;

  text-align:center; 
}